@{
    ViewData["Title"] = "Home Page";
}
@model Register;

<div class="container p-3 border border-dark">
    <form asp-action="Registrar" asp-controller="Home" method="post">
        <div class="row">
            <h2>Ingrese su informacion</h2>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label asp-for="Nombre">Nombre: </label>
            </div>
            <div class="col">
                <input asp-for="Nombre">
                <span asp-validation-for="Nombre"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label asp-for="Apellido">Apellido: </label>
            </div>
            <div class="col">
                <input asp-for="Apellido">
                <span asp-validation-for="Apellido"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label asp-for="Edad">Edad: </label>
            </div>
            <div class="col">
                <input asp-for="Edad">
                <span asp-validation-for="Edad"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label asp-for="Email">Email: </label>
            </div>
            <div class="col">
                <input asp-for="Email">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label asp-for="Password">Contraseña: </label>
            </div>
            <div class="col">
                <input asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
